.tooltip-inner {
  color: whitesmoke;
}

.tooltip-arrow::before {
  background-color: black;
}

.tooltip-inner {
  background-color: rgb(93, 93, 148)
  
}


.fondo {
  background-color: rgb(212, 212, 212)
}

.navbar {
  background-color: #BF702A
}

.color {
  background-color: #163A59
}

.botones{
  background: #7395a5;
}

.tables{
  background: #F2DFBB !important; 
}