.tooltip-inner {
  color: whitesmoke;
}

.tooltip-arrow::before {
  background-color: black;
}

.tooltip-inner {
  background-color: rgb(93, 93, 148)
  
}


.fondo {
  background-color: rgb(212, 212, 212)
}

.navbar {
  background-color: #675175;
  text-indent: 5px;
}
.nav-link {
  color: #fff;
}

.color {
  background-color: #496985;
}

.botones{
  background: #7395a5;
}

.tables{
  background: #F2DFBB !important; 
}

.pie-pagina{
  width: 100%;
  background-color: #675175;
  margin-top: 50px;

}
.pie-pagina .grupo1{
  padding: 15px 0px ;
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display:flex;
  justify-content: space-between;
}
.pie-pagina .grupo1 .box{
  width: 45%;
  color: #fff;
  font-size: 16px;
  line-height: 1;
}
.pie-pagina .grupo1 .box:last-child{
  margin-left: 5px; 
}
/* .pie-pagina .grupo1 .box p{
  color: #efefef;
  margin-bottom: 25px;
} */
.pie-pagina .grupo2{
  background-color: #50415a;
  padding: 15px 10px;
  text-align: center;
  color: #fff;
}
.pie-pagina .grupo2 small{
  font-size: 25px;
}
@media screen and (max-width: 800px){
  .pie-pagina .grupo1{
    padding: 20px 0px;
    width: 90%;
    flex-direction: column;
  }
  .pie-pagina .grupo1 .box{
    width: 90%;
  }
  .pie-pagina .grupo1 .box:last-child{
    margin-left: 0px; 
  }
}
