<footer class="pie-pagina">
    <div class="grupo1">
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>GÓMEZ PAREDES JOSÉ ALEJANDRO</p>
            <p>TOLEDO MONCERRATE MILCA ROXANA</p>
            <p>ZUÑIGA FREIRE ARIANA MICHELLE</p>
        </div>
        <div class="box">
            <h2>SOBRE EL PROYECTO</h2>
            <p>ESTE ES NUESTRO S.G.A. CON DJANGO USANDO CONTENEDORES</p>
        </div>
    </div>
    <div class="grupo2">
        <small>2023</small>
    </div>
</footer>


