
{% block footer %}
    <footer class="pie-pagina">
        <div class="grupo1">
            <div class="box">
                <h4 class="fw-bold text-white">Team developers</h4>
                <p>Gómez Paredes José Alejandro</p>
                <p>Toledo Moncerrate Milca Roxana</p>
                <p>Zuñiga Freire Ariana Michelle</p>
            </div>
            <div class="box">
                <h4 class="fw-bold text-white">Proyect with Django</h4>
                <p>En este proyecto aplicamos nuestros conocimientos adquiridos sobre SQL, Django y Python bajo supervisión de nuestro ingeniero Daniel Vera</p>
            </div>
        </div>
        <div class="grupo2">
            <small class="fw-bold">2023</small>
        </div>
    </footer>
{% endblock footer %}


