{% extends "base.html" %}
{% load static %}
{% block content %}

    <header class="text-center ">
    <div  class="container py-2 mt-5 border border-1 shadow rounded color">
            <h1 class="fw-bold text-white text-center ">{{title}}</h1>
    </div>
    
    
  </header>
  
  <main class="container d-flex flex-column py-1  border border-1 shadow rounded bg-white">
    
    <div class="row"  >
      <div class="col-md-12 text-center" style="background-color:#fff4f1">
        <img src={% static 'img/portada.png' %} class="img-fluid" alt="Imagen de una escuela" style="width: 50%; height: auto;">
      </div>
    </div>
  </main>

{% endblock content %}
